# .NET Core/.NET build output
bin/
obj/
out/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Rider files
.idea/
*.sln.iml

# Visual Studio Code files
.vscode/
.history/

# NuGet packages
*.nupkg
*.snupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Test coverage results
coverage/
*.coverage
*.coveragexml
*.opencover.xml

# Docker
.docker/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux specific files
*~
.directory
